body {
    line-height: 1; }
  
table {
    border-collapse: collapse;
    border-spacing: 0; }

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

.clearfix:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

section {
    width: 100%;
    padding: 50px 0; }

section > div {
    width: 90%;
    max-width: 1200px;
    margin: auto; }

button, input[type=text], input[type=file] {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: #fff; 
}
input[type=file]{
    opacity: 0;
}

input[type=text], input[type=file] {
    border-radius: 3px; }

select,textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    border:none;
}

section > div{
    width: 90%;
}

#albumUpdate_page {
    background-image: url("../img/album_update/bg_6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
#albumUpdate_page .albumUpdate_content {
    max-width: 1200px; }
#albumUpdate_page .submit_btn, #albumUpdate_page .cancel_btn, #albumUpdate_page .select_btn, #albumUpdate_page .add_btn {
    height: 30px;
    font-size: 14px; }
#albumUpdate_page .submit_btn, #albumUpdate_page .cancel_btn {
    width: 100px; }
#albumUpdate_page .select_btn {
    width: 120px; }
#albumUpdate_page .form_cell {
    padding: 20px 0px; }
#albumUpdate_page a {
    color: #fff; }
#albumUpdate_page .albumUpdate_content label {
    display: block;
    font-size: 20px;
    padding-bottom: 3px; }
#albumUpdate_page textarea,input[type=text] {
    display: block;
    padding: 5px; }
#albumUpdate_page form {
    position: relative; }
#albumUpdate_page .albumUpdate_content {
    color: #fff; }
#albumUpdate_page .album_form_dragArea {
    position: relative;
    background-color: #fff;
    border-radius: 3px; }
#albumUpdate_page .album_form_uploader {
    width: 100%;
    font-size: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    position: relative;
    bottom: 15px;
    z-index: 1; }
#albumUpdate_page .album_form_sub input[type=text] {
    height: 35px; }
#albumUpdate_page .album_form_desc textarea, #albumUpdate_page .album_form_tags textarea {
    width: 100%;
    height: 35px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    vertical-align: top; }
#albumUpdate_page .album_form_desc textarea:focus {
    height: 100px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
#albumUpdate_page .album_form_tags textarea:focus {
    height: 50px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
#albumUpdate_page .hint_form {
    color: #aaa;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #albumUpdate_page .hint_form i {
    font-size: 60px; }
#albumUpdate_page .album_tag {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    border: 1px solid #fff;
    font-size: 16px;
    margin: 5px 5px 5px 0; }
    #albumUpdate_page .album_tag i {
    margin-left: 5px; }
#albumUpdate_page .album_form_tagsArea {
    padding: 20px 0; }
#albumUpdate_page .album_form_selection {
    padding: 10px;
    background-color: #fff; }
#albumUpdate_page option {
    text-align: center; }
#albumUpdate_page .album_form_btns {
    padding: 30px 0 10px;
    text-align: center; }
#albumUpdate_page .album_form_images {
    font-size: 0;
    height: 0;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    #albumUpdate_page .album_form_images img {
    height: 100%;
    margin: auto; }
#albumUpdate_page .delete_btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(20%, -20%);
    -ms-transform: translate(20%, -20%);
    transform: translate(20%, -20%);
    background-color: #aaa; }



@media screen and (min-width: 320px) and (max-width: 767px) {
    .dm-1 {
        width: 8.33333%; }
    .dm-2 {
        width: 16.66667%; }
    .dm-3 {
        width: 25%; }
    .dm-4 {
        width: 33.33333%; }
    .dm-5 {
        width: 41.66667%; }
    .dm-6 {
        width: 50%; }
    .dm-7 {
        width: 58.33333%; }
    .dm-8 {
        width: 66.66667%; }
    .dm-9 {
        width: 75%; }
    .dm-10 {
        width: 83.33333%; }
    .dm-11 {
        width: 91.66667%; }
    .dm-12 {
        width: 100%; }
    .dm-1, .dm-2, .dm-3, .dm-4, .dm-5, .dm-6, .dm-7, .dm-8, .dm-9, .dm-10, .dm-11, .dm-12 {
        float: left; }
    h1 {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 1; }
    h2 {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1; }
    h3 {
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 1; }
    h4 {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1; }
    h5 {
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 1; }
    h6 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1; }
    p {
        font-size: 17px;
        letter-spacing: 1px;
        line-height: 1.4; }
    a {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1; }
    .albumUpdate_sec{
        padding:100px 0;
    }
    #albumUpdate_page .album_form_sub input[type=text] {
        width: 70%; }
    #albumUpdate_page .album_form_images .album_form_image_line {
        width: 46%;
        color: #111;
        height: 150px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 25px calc(8% / 4);
        text-align: center;
        padding: 5px;
        border: 2px solid #aaa; }
    #albumUpdate_page .album_form_images .image_name {
        font-size: 14px;
        margin: 8px 0px; }
    #albumUpdate_page .album_form_dragArea {
        height: 600px; }
    #albumUpdate_page .album_form_btns button {
        margin: 0 20px; }
    #albumUpdate_page .album_form_tags textarea, #albumUpdate_page .album_form_tags .add_btn {
        display: block;
        width: 100%; }
    #albumUpdate_page .album_form_tags textarea {
        height: 40px; }
        #albumUpdate_page .album_form_tags textarea:focus {
        height: 50px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
    #albumUpdate_page .album_form_tags .add_btn {
        height: 30px;
        margin-top: 10px; } }
    
    @media screen and (min-width: 768px) and (max-width: 1920px) {
    .dl-1 {
        width: 8.33333%; }
    .dl-2 {
        width: 16.66667%; }
    .dl-3 {
        width: 25%; }
    .dl-4 {
        width: 33.33333%; }
    .dl-5 {
        width: 41.66667%; }
    .dl-6 {
        width: 50%; }
    .dl-7 {
        width: 58.33333%; }
    .dl-8 {
        width: 66.66667%; }
    .dl-9 {
        width: 75%; }
    .dl-10 {
        width: 83.33333%; }
    .dl-11 {
        width: 91.66667%; }
    .dl-12 {
        width: 100%; }
    .dl-1, .dl-2, .dl-3, .dl-4, .dl-5, .dl-6, .dl-7, .dl-8, .dl-9, .dl-10, .dl-11, .dl-12 {
        float: left; }
    h1 {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 1; }
    h2 {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 1; }
    h3 {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1; }
    h4 {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1; }
    h5 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1; }
    h6 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1; }
    p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.4; }
    a {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1; }
    .albumUpdate_sec{
        padding:130px 0;
    }
    #albumUpdate_page .album_form_sub input[type=text] {
        width: 50%; }
    #albumUpdate_page .album_form_images .album_form_image_line {
        width: 30%;
        color: #111;
        height: 150px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 25px calc(10% / 6);
        text-align: center;
        padding: 5px;
        border: 2px solid #aaa; }
    #albumUpdate_page .album_form_images .image_name {
        font-size: 16px;
        margin: 8px 0px; }
    #albumUpdate_page .album_form_tags {
        font-size: 0; }
        #albumUpdate_page .album_form_tags textarea, #albumUpdate_page .album_form_tags .add_btn {
        display: inline-block;
        vertical-align: middle; }
        #albumUpdate_page .album_form_tags textarea {
        width: calc(100% - 110px); }
        #albumUpdate_page .album_form_tags .add_btn {
        width: 100px;
        height: 35px;
        margin-left: 10px; }
    #albumUpdate_page .album_form_btns button {
        margin: 0 50px; }
    #albumUpdate_page .album_form_dragArea {
        height: 420px; } }
  