@charset "UTF-8";
body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1; }

h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1; }

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h5 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h6 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

a {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

p {
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 22px; }

label {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

span {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1; }

body, button {
  font-family: 'Microsoft JhengHei','Noto Sans TC', sans-serif; }

section {
  width: 100%;
  padding: 50px 0; }

section > div {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

button, input[type=text], input[type=file], input[type=password], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #fff; }

input[type=text], input[type=file], input[type=password], textarea {
  border-radius: 3px; }

label {
  font-weight: 700; }

textarea {
  background-color: #d8e2e2;
  box-shadow: 0px 0px 5px #333 inset;
  border-radius: 3px; }

input[type=text], input[type=password] {
  border: 0px transparent;
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px; }

.img_d img {
  width: 100%; }

.box_inner_padding {
  box-sizing: border-box;
  padding: 15px; }

.set_w1200px {
  width: 1200px;
  margin: 0 auto; }

@keyframes btn_change {
  0% {
    background: linear-gradient(67deg, #44227A 10%, #fa0006 90%); }
  10% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 20%, #44227A 30%, #fa0006 90%); }
  20% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 30%, #44227A 40%, #fa0006 50%); }
  30% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 40%, #44227A 50%, #fa0006 60%); }
  40% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 50%, #44227A 60%, #fa0006 70%); }
  50% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 60%, #44227A 70%, #fa0006 80%); }
  60% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 70%, #44227A 80%, #fa0006 90%); }
  70% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 80%, #44227A 90%); }
  80% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  90% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  100% {
    background: linear-gradient(67deg, #fa0006 0%, #44227A 100%); } }

* {
  list-style: none;
  font-family: 微軟正黑體; }
  * h4,
  * h3,
  * p,
  * a,
  * span {
    color: #FFF; }

#event_detail_signup {
  /*google_map*/
  /* event detail */
  /* chat photo comment */ }
  #event_detail_signup .web_display {
    display: none; }
  #event_detail_signup .event_title_map_sec {
    width: 100%; }
    #event_detail_signup .event_title_map_sec .title_disc {
      margin: 0 auto;
      width: 70%;
      padding: 0 0 100px 0;
      text-shadow: 0 0 1px #FFF; }
      #event_detail_signup .event_title_map_sec .title_disc h3 {
        line-height: 50px;
        font-size: 26px; }
      #event_detail_signup .event_title_map_sec .title_disc p {
        line-height: 30px; }
  #event_detail_signup .map_box {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5; }
  #event_detail_signup #map {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    border: 0; }
  #event_detail_signup .event_detail {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    #event_detail_signup .event_detail:after {
      content: '';
      position: absolute;
      top: 110%;
      left: 25%;
      width: 50%;
      height: 1px;
      border-bottom: 1px solid #ff5e6a; }
  #event_detail_signup .event_detail_content {
    width: 80%;
    position: relative;
    top: -120px;
    z-index: 10;
    /*#1c204d*/
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    background-image: url("/img/event_detail_signup/bg26.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 20px #7cb5ff;
    /*300*/ }
    #event_detail_signup .event_detail_content .event_detail_col > div {
      box-sizing: border-box;
      padding: 10px;
      font-size: 0; }
    #event_detail_signup .event_detail_content .event_detail_col > div > p {
      text-shadow: 0 0 1px #FFF;
      display: inline-block;
      vertical-align: middle; }
    #event_detail_signup .event_detail_content .event_detail_col > div > p:first-child {
      width: 50%; }
    #event_detail_signup .event_detail_content .event_detail_col > div > p:last-child {
      width: 50%; }
    #event_detail_signup .event_detail_content .signup_info {
      display: block; }
      #event_detail_signup .event_detail_content .signup_info form > div {
        margin-top: 24px; }
    #event_detail_signup .event_detail_content .wrap_btn {
      margin-top: 5px;
      text-align: center; }
      #event_detail_signup .event_detail_content .wrap_btn input {
        font-size: 16px;
        border: 1px solid transparent;
        background: linear-gradient(67deg, #44227A 0%, #fa0006 81%);
        color: #fff;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 3px;
        cursor: pointer;
        transition: 1s; }
        #event_detail_signup .event_detail_content .wrap_btn input:hover {
          background: linear-gradient(67deg, #fa0006 0%, #44227A 81%);
          animation: btn_change 0.2s; }
    #event_detail_signup .event_detail_content .location_map {
      width: 25px;
      vertical-align: bottom;
      padding: 0 0 4px 10px; }
    #event_detail_signup .event_detail_content .location_map.mobile_display {
      display: inline-block; }
    #event_detail_signup .event_detail_content .event_300_box {
      width: 80%;
      position: relative;
      z-index: 20;
      box-sizing: border-box;
      padding: 15px;
      margin: 50px auto 0 auto;
      height: 300px;
      text-align: center;
      overflow: hidden; }
      #event_detail_signup .event_detail_content .event_300_box .event_w300 {
        height: 300%;
        width: 100%;
        font-size: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0; }
        #event_detail_signup .event_detail_content .event_300_box .event_w300 .event_signup {
          height: 33.333%;
          text-align: center;
          color: #FFF;
          font-size: 16px; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 .event_signup h2 {
            line-height: 160px; }
        #event_detail_signup .event_detail_content .event_300_box .event_w300 .signup_info {
          height: 33.333%;
          text-align: center;
          color: #FFF;
          font-size: 16px; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 .signup_info h2 {
            line-height: 80px; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 .signup_info .wrap_btn {
            margin-top: 40px; }
        #event_detail_signup .event_detail_content .event_300_box .event_w300 .signup_info > div {
          margin: 20px 0; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 .signup_info > div input {
            border-radius: 5px; }
        #event_detail_signup .event_detail_content .event_300_box .event_w300 .finish {
          height: 33.333%;
          text-align: center;
          color: #FFF;
          font-size: 16px; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 .finish h2 {
            line-height: 160px; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 .finish p {
            color: #F00; }
  #event_detail_signup #tab03 {
    width: 100%; }
    #event_detail_signup #tab03 .select_tags {
      font-size: 0; }
    #event_detail_signup #tab03 .select_tags > p {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 33.333333%;
      border: 1px solid #FFF;
      color: #FFF;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 10px 10px 0 0; }
    #event_detail_signup #tab03 .select_tags > a:first-child {
      background-color: #FFF;
      color: #000; }
    #event_detail_signup #tab03 .chat_photo_comment_content .chat_photo_comment_col {
      border: 1px solid #FFF;
      padding: 20px;
      box-sizing: border-box;
      height: 100%; }
    #event_detail_signup #tab03 .comment_box {
      padding: 50px;
      box-sizing: border-box;
      border-bottom: 1px solid #FFF;
      margin-left: -30px; }
      #event_detail_signup #tab03 .comment_box img {
        border-radius: 50%;
        width: 40%; }
      #event_detail_signup #tab03 .comment_box .conmment_img {
        display: inline-block; }
      #event_detail_signup #tab03 .comment_box .comment {
        display: inline-block;
        vertical-align: top;
        margin: -15px 0 0 -120px; }
        #event_detail_signup #tab03 .comment_box .comment p {
          line-height: 40px; }
          #event_detail_signup #tab03 .comment_box .comment p:nth-child(3) {
            font-size: 10px; }
        #event_detail_signup #tab03 .comment_box .comment span {
          line-height: 40px;
          float: right; }
        #event_detail_signup #tab03 .comment_box .comment:nth-child(2) {
          font-size: 10px; }
      #event_detail_signup #tab03 .comment_box .evaluate_content_test {
        width: 10%;
        float: right; }
        #event_detail_signup #tab03 .comment_box .evaluate_content_test ul {
          display: flex;
          justify-content: flex-end;
          width: 90%; }
          #event_detail_signup #tab03 .comment_box .evaluate_content_test ul li {
            font-size: 24px;
            color: #e5e5e5; }
    #event_detail_signup #tab03 .evaluate_content {
      width: 100%;
      text-align: right;
      margin-top: 50px; }
      #event_detail_signup #tab03 .evaluate_content .star_content {
        visibility: hidden; }
    #event_detail_signup #tab03 .evaluate_content ul {
      display: flex;
      justify-content: flex-end;
      width: 90%; }
    #event_detail_signup #tab03 .evaluate_content li {
      font-size: 24px;
      color: #e7e7e7;
      cursor: pointer; }
    #event_detail_signup #tab03 .sent_msg {
      text-align: center;
      margin-top: 10px; }
    #event_detail_signup #tab03 .sent_box {
      height: 100px;
      width: 100%; }
      #event_detail_signup #tab03 .sent_box textarea {
        color: #000;
        outline: none;
        width: 80%; }
    #event_detail_signup #tab03 .sent_btn_box {
      margin-top: 20px; }
      #event_detail_signup #tab03 .sent_btn_box input {
        font-size: 16px;
        border: 1px solid transparent;
        background: linear-gradient(67deg, #44227A 0%, #fa0006 81%);
        color: #fff;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 3px;
        cursor: pointer;
        transition: 1s; }
        #event_detail_signup #tab03 .sent_btn_box input:hover {
          background: linear-gradient(67deg, #fa0006 0%, #44227A 81%);
          animation: btn_change 0.2s; }
  @media screen and (min-width: 768px) {
    #event_detail_signup {
      /*google_map*/
      /* event detail */
      /* chat photo comment */ }
      #event_detail_signup .dl-1 {
        width: 8.33333%; }
      #event_detail_signup .dl-2 {
        width: 16.66667%; }
      #event_detail_signup .dl-3 {
        width: 25%; }
      #event_detail_signup .dl-4 {
        width: 33.33333%; }
      #event_detail_signup .dl-5 {
        width: 41.66667%; }
      #event_detail_signup .dl-6 {
        width: 50%; }
      #event_detail_signup .dl-7 {
        width: 58.33333%; }
      #event_detail_signup .dl-8 {
        width: 66.66667%; }
      #event_detail_signup .dl-9 {
        width: 75%; }
      #event_detail_signup .dl-10 {
        width: 83.33333%; }
      #event_detail_signup .dl-11 {
        width: 91.66667%; }
      #event_detail_signup .dl-12 {
        width: 100%; }
      #event_detail_signup .dl-1, #event_detail_signup .dl-2, #event_detail_signup .dl-3, #event_detail_signup .dl-4, #event_detail_signup .dl-5, #event_detail_signup .dl-6, #event_detail_signup .dl-7, #event_detail_signup .dl-8, #event_detail_signup .dl-9, #event_detail_signup .dl-10, #event_detail_signup .dl-11, #event_detail_signup .dl-12 {
        float: left; }
      #event_detail_signup .web_display {
        display: block; }
      #event_detail_signup .mobile_display {
        display: none; }
      #event_detail_signup .web_display {
        display: inline-block; }
      #event_detail_signup .map_box {
        background-color: #000;
        height: 600px;
        width: 100%;
        position: relative;
        z-index: 5; }
      #event_detail_signup #map {
        margin-top: 100px;
        position: relative;
        height: 500px;
        width: 100%; }
      #event_detail_signup .event_title_map_sec {
        position: absolute;
        top: 200px;
        left: 1%;
        width: 40%; }
        #event_detail_signup .event_title_map_sec .title_disc h3 {
          font-size: 50px;
          line-height: 100px; }
      #event_detail_signup .iframe_map_box {
        width: 35%;
        height: 500px;
        position: absolute;
        top: 100px;
        left: 0;
        background: linear-gradient(to right, black 25%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 98%); }
      #event_detail_signup .iframe_map_box2 {
        width: 30%;
        height: 500px;
        position: absolute;
        top: 100px;
        right: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 98%); }
      #event_detail_signup .event_detail_content {
        width: 100%;
        max-width: 1200px;
        text-align: center;
        padding-top: 20px; }
        #event_detail_signup .event_detail_content .event_300_box {
          width: 50%; }
          #event_detail_signup .event_detail_content .event_300_box .event_w300 {
            height: 300%;
            width: 80%;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 15%; }
            #event_detail_signup .event_detail_content .event_300_box .event_w300 .event_signup h2 {
              line-height: 200px; }
            #event_detail_signup .event_detail_content .event_300_box .event_w300 .signup_info h2 {
              line-height: 100px; }
            #event_detail_signup .event_detail_content .event_300_box .event_w300 .finish h2 {
              line-height: 200px; }
        #event_detail_signup .event_detail_content .wrap_detail_signup {
          font-size: 0; }
        #event_detail_signup .event_detail_content .wrap_detail_signup > div {
          display: inline-block;
          vertical-align: middle;
          margin: 0 auto; }
        #event_detail_signup .event_detail_content .event_detail {
          font-size: 0;
          box-sizing: border-box;
          width: 20%; }
        #event_detail_signup .event_detail_content .event_detail_col {
          vertical-align: middle;
          width: 100%; }
          #event_detail_signup .event_detail_content .event_detail_col .location_map {
            display: none; }
        #event_detail_signup .event_detail_content .event_detail {
          position: relative;
          width: 50%;
          margin: 20px auto 0 auto;
          display: inline-block; }
          #event_detail_signup .event_detail_content .event_detail:after {
            content: '';
            position: absolute;
            top: 140px;
            left: 90%;
            max-width: 200px;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #FFF;
            transform: rotate(90deg);
            box-shadow: 0 0 1px #FFF; }
      #event_detail_signup #tab01 .message_wrapper {
        border-right: 1px solid #FFF;
        width: 59.9%;
        float: left; }
      #event_detail_signup #tab01 .message_box .message_img {
        display: inline-block;
        box-sizing: border-box;
        padding-bottom: 15px;
        margin-left: 10px;
        text-align: center; }
        #event_detail_signup #tab01 .message_box .message_img img {
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          width: 110px; }
        #event_detail_signup #tab01 .message_box .message_img .message_user_name {
          padding: 10px 0; }
      #event_detail_signup #tab01 .message_box .message_p {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background-color: #000;
        border: 1px solid #FFF;
        border-radius: 5px;
        width: 30%;
        text-align: center;
        margin: 20px 0 0 20px; }
        #event_detail_signup #tab01 .message_box .message_p p {
          color: #fff;
          line-height: 60px; }
        #event_detail_signup #tab01 .message_box .message_p .tr {
          position: absolute;
          top: 2px;
          left: -15px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 15px 10px 0;
          border-color: transparent #ffffff transparent transparent; }
        #event_detail_signup #tab01 .message_box .message_p .tr2 {
          position: absolute;
          top: 2px;
          left: -13px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 15px 10px 0;
          border-color: transparent #000 transparent transparent; }
      #event_detail_signup #tab01 .message_box .message_time {
        display: inline-block;
        vertical-align: top;
        margin: 65px 0 0 10px; }
        #event_detail_signup #tab01 .message_box .message_time p {
          font-size: 10px; }
      #event_detail_signup #tab01 .message_box2 {
        width: 100%;
        display: inline-block;
        text-align: right;
        height: 120px;
        box-sizing: border-box;
        padding-right: 40px; }
        #event_detail_signup #tab01 .message_box2 .message_p {
          position: relative;
          display: inline-block;
          vertical-align: top;
          background-color: #fff;
          border: 1px solid #FFF;
          border-radius: 5px;
          width: 30%;
          text-align: center;
          margin: 20px 0 0 20px; }
          #event_detail_signup #tab01 .message_box2 .message_p p {
            color: #000;
            line-height: 60px; }
          #event_detail_signup #tab01 .message_box2 .message_p .tr {
            position: absolute;
            top: 2px;
            right: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #ffffff; }
        #event_detail_signup #tab01 .message_box2 .message_time {
          display: inline-block;
          vertical-align: top;
          margin: 65px 0 0 10px; }
          #event_detail_signup #tab01 .message_box2 .message_time p {
            font-size: 10px; }
      #event_detail_signup #tab01 .reply {
        width: 20%;
        float: right;
        text-align: right;
        background-color: #fff;
        border-radius: 5px; }
        #event_detail_signup #tab01 .reply .reply_box {
          box-sizing: border-box;
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #AAA; }
        #event_detail_signup #tab01 .reply .reply_img {
          display: inline-block; }
          #event_detail_signup #tab01 .reply .reply_img img {
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            width: 50px; }
        #event_detail_signup #tab01 .reply .reply_p {
          display: inline-block;
          margin: 0 10px; }
          #event_detail_signup #tab01 .reply .reply_p p {
            color: #000; }
        #event_detail_signup #tab01 .reply .reply_content {
          box-sizing: border-box;
          padding: 10px; }
          #event_detail_signup #tab01 .reply .reply_content p {
            color: #AAA; }
        #event_detail_signup #tab01 .reply .reply_msg {
          text-align-last: left;
          box-sizing: border-box;
          padding: 10px 20px; }
          #event_detail_signup #tab01 .reply .reply_msg p {
            color: #000; }
      #event_detail_signup #tab01 .sent_msg {
        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 60%;
        text-align: center;
        padding: 40px 40px 0 40px;
        box-sizing: border-box;
        float: left; }
        #event_detail_signup #tab01 .sent_msg textarea {
          color: #000;
          outline: none;
          width: 80%; }
        #event_detail_signup #tab01 .sent_msg .sent_btn_box {
          padding: 20px 0; }
      #event_detail_signup .select_tags {
        width: 30%;
        min-width: 450px; }
      #event_detail_signup #tab03 .sent_box textarea {
        width: 80%;
        height: 140%; }
      #event_detail_signup #tab03 .sent_btn_box {
        margin-top: 80px; }
      #event_detail_signup #tab03 .chat_photo_comment_col {
        padding: 20px;
        box-sizing: border-box;
        height: 100%; }
        #event_detail_signup #tab03 .chat_photo_comment_col .comment_box {
          padding: 50px;
          box-sizing: border-box;
          border-bottom: 1px solid #FFF;
          margin-left: 0px; }
          #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .conmment_img {
            display: inline-block; }
            #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .conmment_img img {
              border-radius: 50%;
              width: 50%; }
          #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .comment {
            display: inline-block;
            vertical-align: top;
            margin-left: -80px; }
            #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .comment p {
              line-height: 40px; }
              #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .comment p:nth-child(3) {
                font-size: 10px; }
            #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .comment span {
              line-height: 40px;
              float: right; }
            #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .comment:nth-child(2) {
              font-size: 10px; }
          #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .evaluate_content_test {
            width: 10%;
            float: right; }
            #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .evaluate_content_test ul {
              display: flex;
              justify-content: flex-end;
              width: 40%; }
              #event_detail_signup #tab03 .chat_photo_comment_col .comment_box .evaluate_content_test ul li {
                font-size: 24px;
                color: #e5e5e5; }
      #event_detail_signup #tab03 .evaluate_content {
        width: 100%;
        text-align: right;
        margin-top: 50px; }
        #event_detail_signup #tab03 .evaluate_content .star_content {
          visibility: hidden; }
      #event_detail_signup #tab03 .evaluate_content ul {
        display: flex;
        justify-content: flex-end;
        width: 90%; }
      #event_detail_signup #tab03 .evaluate_content li {
        font-size: 24px;
        color: #e7e7e7;
        cursor: pointer; } }
