@charset "UTF-8";
body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1; }

h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1; }

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h5 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h6 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

a {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

p {
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 22px; }

label {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

span {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1; }

body, button {
  font-family: 'Microsoft JhengHei','Noto Sans TC', sans-serif; }

section {
  width: 100%;
  padding: 50px 0; }

section > div {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

button, input[type=text], input[type=file], input[type=password], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #fff; }

input[type=text], input[type=file], input[type=password], textarea {
  border-radius: 3px; }

label {
  font-weight: 700; }

textarea {
  background-color: #d8e2e2;
  box-shadow: 0px 0px 5px #333 inset;
  border-radius: 3px; }

input[type=text], input[type=password] {
  border: 0px transparent;
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px; }

.img_d img {
  width: 100%; }

.box_inner_padding {
  box-sizing: border-box;
  padding: 15px; }

.set_w1200px {
  width: 1200px;
  margin: 0 auto; }

@keyframes btn_change {
  0% {
    background: linear-gradient(67deg, #44227A 10%, #fa0006 90%); }
  10% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 20%, #44227A 30%, #fa0006 90%); }
  20% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 30%, #44227A 40%, #fa0006 50%); }
  30% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 40%, #44227A 50%, #fa0006 60%); }
  40% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 50%, #44227A 60%, #fa0006 70%); }
  50% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 60%, #44227A 70%, #fa0006 80%); }
  60% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 70%, #44227A 80%, #fa0006 90%); }
  70% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 80%, #44227A 90%); }
  80% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  90% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  100% {
    background: linear-gradient(67deg, #fa0006 0%, #44227A 100%); } }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1; }

h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1; }

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h5 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h6 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

a {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

p {
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 22px; }

label {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

span {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1; }

body, button {
  font-family: 'Microsoft JhengHei','Noto Sans TC', sans-serif; }

section {
  width: 100%;
  padding: 50px 0; }

section > div {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

button, input[type=text], input[type=file], input[type=password], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #fff; }

input[type=text], input[type=file], input[type=password], textarea {
  border-radius: 3px; }

label {
  font-weight: 700; }

textarea {
  background-color: #d8e2e2;
  box-shadow: 0px 0px 5px #333 inset;
  border-radius: 3px; }

input[type=text], input[type=password] {
  border: 0px transparent;
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px; }

.img_d img {
  width: 100%; }

.box_inner_padding {
  box-sizing: border-box;
  padding: 15px; }

.set_w1200px {
  width: 1200px;
  margin: 0 auto; }

@keyframes btn_change {
  0% {
    background: linear-gradient(67deg, #44227A 10%, #fa0006 90%); }
  10% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 20%, #44227A 30%, #fa0006 90%); }
  20% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 30%, #44227A 40%, #fa0006 50%); }
  30% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 40%, #44227A 50%, #fa0006 60%); }
  40% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 50%, #44227A 60%, #fa0006 70%); }
  50% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 60%, #44227A 70%, #fa0006 80%); }
  60% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 70%, #44227A 80%, #fa0006 90%); }
  70% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 80%, #44227A 90%); }
  80% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  90% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  100% {
    background: linear-gradient(67deg, #fa0006 0%, #44227A 100%); } }

/*---不分尺寸---*/
#wrap_all_calendar {
  font-size: 0;
  display: inline-block; }
  #wrap_all_calendar > div {
    display: inline-block;
    vertical-align: top; }
  #wrap_all_calendar .wrap_filter_event {
    margin-top: 20px;
    box-shadow: 1px 1px 10px #555 inset; }
  #wrap_all_calendar .calendar_block {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    background-image: url(../img/calendarBcg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px; }
  #wrap_all_calendar #calendar_block {
    width: 100%; }
  #wrap_all_calendar #showCurrentMonth {
    font-size: 32px; }
  #wrap_all_calendar .calendar_row {
    display: flex;
    justify-content: space-around; }
  #wrap_all_calendar .calendar_row p {
    font-size: 14px; }
  #wrap_all_calendar #calendar_block .calendar_row:first-child {
    box-sizing: border-box;
    margin: 0; }
  #wrap_all_calendar #calendar_block .calendar_row:first-child > div {
    font-size: 14px; }
  #wrap_all_calendar #calendar_block .calendar_row + .calendar_row {
    margin: 10px 0 0 0; }
  #wrap_all_calendar .calendar_weekday,
  #wrap_all_calendar .calendar_data {
    text-align: center;
    color: #dfdfdf;
    /*background-color: #1c204d;*/
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    transition: 0.5s; }
  #wrap_all_calendar .hover_color {
    cursor: pointer; }
  #wrap_all_calendar .hover_color:hover {
    background-color: #fa0006; }
  #wrap_all_calendar .show_month_controll {
    width: 100%;
    font-size: 0;
    text-align: center;
    font-size: 0; }
  #wrap_all_calendar .show_month_controll > * {
    display: inline-block;
    vertical-align: middle; }
  #wrap_all_calendar .pre_next_month_btn {
    width: 15px;
    margin: 0 15px; }
  #wrap_all_calendar .pre_next_month_btn img {
    width: 100%; }
  #wrap_all_calendar h2 {
    color: #dfdfdf;
    margin: 10px 0; }
  #wrap_all_calendar .month_list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
    position: relative; }
    #wrap_all_calendar .month_list::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #dfdfdf;
      position: absolute;
      top: 40px;
      left: 0; }
    #wrap_all_calendar .month_list .month_num {
      font-size: 14px;
      flex: 1;
      display: inline-block;
      text-align: center;
      color: #dfdfdf;
      cursor: pointer; }
      #wrap_all_calendar .month_list .month_num:nth-child(11) {
        flex: 1.3; }
      #wrap_all_calendar .month_list .month_num:last-child {
        flex: 1.3; }
  #wrap_all_calendar .wrap_month {
    margin: 10px 0;
    position: relative; }
    #wrap_all_calendar .wrap_month .month_dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fa0006;
      background-color: #5f0050;
      position: absolute;
      top: 36px;
      left: 18px;
      box-shadow: 1px 1px 2px #111; }
  #wrap_all_calendar .wrap_filter_event {
    background-image: url(../img/calendarBcg.png);
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 3px 3px 0; }
  #wrap_all_calendar .filter_time h2 {
    margin-top: 0;
    text-align: center; }
  #wrap_all_calendar .filter_time > div {
    text-align: center;
    margin: 15px 0; }
    #wrap_all_calendar .filter_time > div label {
      color: #dfdfdf;
      margin-right: 10px; }
    #wrap_all_calendar .filter_time > div:nth-child(2) {
      margin-top: 10px; }
    #wrap_all_calendar .filter_time > div:last-child {
      margin-bottom: 30px; }
  #wrap_all_calendar .filter_area h2 {
    text-align: center; }
  #wrap_all_calendar .filter_area .area_select {
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    padding-bottom: 10px; }
    #wrap_all_calendar .filter_area .area_select > li {
      font-size: 16px;
      margin: 0px 15px 15px 15px;
      display: inline-block;
      color: #dfdfdf;
      text-align: center;
      line-height: 35px;
      width: 35px;
      height: 35px;
      border-radius: 17.5px;
      transition: 0.5s; }
  #wrap_all_calendar .wrap_event {
    margin-top: 30px; }
  #wrap_all_calendar .show_event {
    font-size: 0;
    margin: 10px 0 0 0;
    cursor: pointer; }
    #wrap_all_calendar .show_event > div,
    #wrap_all_calendar .show_event > p {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      color: #dfdfdf; }
    #wrap_all_calendar .show_event p:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px; }
    #wrap_all_calendar .show_event .event_dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #dfdfdf;
      transition: .5s; }
    #wrap_all_calendar .show_event .event_click_color {
      background-color: #fa0006; }
  #wrap_all_calendar .show_event:hover > .event_dot {
    background-color: #fa0006;
    transition: 0.5s; }
  #wrap_all_calendar h3 {
    color: #dfdfdf;
    text-align: center;
    margin-bottom: 10px; }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1; }

h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1; }

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h5 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h6 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

a {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

p {
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 22px; }

label {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

span {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1; }

body, button {
  font-family: 'Microsoft JhengHei','Noto Sans TC', sans-serif; }

section {
  width: 100%;
  padding: 50px 0; }

section > div {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

button, input[type=text], input[type=file], input[type=password], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #fff; }

input[type=text], input[type=file], input[type=password], textarea {
  border-radius: 3px; }

label {
  font-weight: 700; }

textarea {
  background-color: #d8e2e2;
  box-shadow: 0px 0px 5px #333 inset;
  border-radius: 3px; }

input[type=text], input[type=password] {
  border: 0px transparent;
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px; }

.img_d img {
  width: 100%; }

.box_inner_padding {
  box-sizing: border-box;
  padding: 15px; }

.set_w1200px {
  width: 1200px;
  margin: 0 auto; }

@keyframes btn_change {
  0% {
    background: linear-gradient(67deg, #44227A 10%, #fa0006 90%); }
  10% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 20%, #44227A 30%, #fa0006 90%); }
  20% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 30%, #44227A 40%, #fa0006 50%); }
  30% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 40%, #44227A 50%, #fa0006 60%); }
  40% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 50%, #44227A 60%, #fa0006 70%); }
  50% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 60%, #44227A 70%, #fa0006 80%); }
  60% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 70%, #44227A 80%, #fa0006 90%); }
  70% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 80%, #44227A 90%); }
  80% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  90% {
    background: linear-gradient(67deg, #fa0006 10%, #44227A 90%, #44227A 100%); }
  100% {
    background: linear-gradient(67deg, #fa0006 0%, #44227A 100%); } }

#nav_scope {
  /*---不分尺寸---*/
  /* show info detail*/
  /*-------------------------------------*/
  /*-------------------------------------*/
  /*login_signup_box---------------------*/
  /*-------------------------------------*/
  /*-------------------------------------*/
  /*----------wrap login signup----------*/
  /*----------member input----------*/
  /* 註冊 */ }
  #nav_scope .form_submit_btn {
    font-size: 16px;
    border: 0px solid transparent;
    background: linear-gradient(67deg, #44227A 0%, #fa0006 81%);
    color: #dfdfdf;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 3px;
    outline: 0px;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    transition: 1s; }
  #nav_scope .form_submit_btn:hover {
    background: linear-gradient(67deg, #fa0006 0%, #44227A 81%);
    animation: btn_change 0.2s; }
  #nav_scope .show_info_detail {
    display: none;
    width: 250px;
    background-color: rgba(28, 32, 77, 0.7);
    position: absolute;
    right: 0px;
    top: 50px;
    border-radius: 5px;
    z-index: 35; }
  #nav_scope .info_detail_list {
    box-sizing: border-box;
    padding: 15px; }
  #nav_scope .info_detail_list > li {
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer; }
  #nav_scope .info_detail_list > li:last-child {
    text-align: center; }
  #nav_scope .info_detail_list > li:last-child > a {
    display: inline-block;
    padding-top: 3px;
    font-size: 14px;
    color: #dfdfdf; }
  #nav_scope .info_detail_list > li + li {
    border-top: 1px solid #dfdfdf; }
  #nav_scope .info_detail_list > li > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #nav_scope .info_detail_list > li > p:first-child {
    font-weight: 700;
    margin-bottom: 5px; }
  #nav_scope .info_detail_list > li > p,
  #nav_scope .info_detail_list > li > span {
    color: #dfdfdf;
    font-size: 12px; }
  #nav_scope .show_info_detail::after {
    content: '';
    border-bottom: 10px solid rgba(28, 32, 77, 0.7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 225px; }
  #nav_scope .login_signup_sec {
    display: none;
    width: 300px;
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: linear-gradient(to bottom, #111 0%, #1c204d 20%);
    opacity: 0.9;
    border-radius: 5px;
    padding: 0;
    z-index: 50; }
  #nav_scope img {
    vertical-align: bottom; }
  #nav_scope .wrap_logo_switch {
    font-size: 0;
    display: flex;
    box-sizing: border-box;
    padding: 30px 30px 0 30px; }
  #nav_scope .decorate_logo {
    flex: 4;
    box-sizing: border-box;
    /*padding: 10px;*/ }
  #nav_scope .switch_display {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #nav_scope .close_box {
    height: 30px;
    text-align: right;
    position: relative; }
  #nav_scope .close_box img {
    width: 20px;
    position: absolute;
    top: -20px;
    right: -35px; }
  #nav_scope .switch_light {
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fa0006;
    position: absolute;
    left: 29px;
    bottom: -7px;
    transition: 1s;
    box-shadow: 0px 0px 10px #fa0006; }
  #nav_scope .switch_selector {
    font-size: 0;
    text-align: right;
    position: relative; }
  #nav_scope .switch_selector > p {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 16px;
    color: #dfdfdf; }
  #nav_scope .switch_selector p:hover {
    color: #fa0006;
    cursor: pointer; }
  #nav_scope .input1 {
    width: 100%; }
  #nav_scope .member_signup_input {
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
    margin-top: 60px; }
  #nav_scope .member_signup_input .input2 {
    width: 100%;
    padding-left: 0;
    color: #dfdfdf; }
  #nav_scope .show_account_info,
  #nav_scope .forget_password {
    font-size: 14px;
    padding: 0 0 5px 0;
    color: #dfdfdf; }
  #nav_scope .show_account_info {
    opacity: 0; }
  #nav_scope .password_bar,
  #nav_scope .error_forgot_submit {
    margin-top: 10px; }
  #nav_scope .forget_password {
    margin-top: 5px;
    display: block;
    font-size: 12px;
    cursor: pointer; }
  #nav_scope .error_forgot_submit_bar {
    position: relative;
    margin-top: 30px;
    /*text-align: center;*/ }
  #nav_scope .show_error {
    font-size: 14px;
    font-weight: 700;
    color: #fa0006;
    /*密碼錯誤時出現*/
    visibility: hidden; }
  #nav_scope .wrap_login_btn {
    position: relative; }
    #nav_scope .wrap_login_btn .login_btn {
      width: 30px;
      border-radius: 3px;
      position: absolute;
      top: -31px;
      right: -56px; }
  #nav_scope .wrap_signup_btn {
    position: relative;
    margin: 0; }
    #nav_scope .wrap_signup_btn .signup_btn {
      border-radius: 3px;
      border: 0px solid transparent;
      position: absolute;
      top: 10px;
      right: 82px;
      box-sizing: border-box;
      padding: 10px; }
  #nav_scope .wrap_input_item {
    position: relative; }
    #nav_scope .wrap_input_item .check_value {
      text-align: right;
      font-size: 14px;
      color: #fa0006;
      position: absolute;
      top: 23px;
      right: 5px; }
      #nav_scope .wrap_input_item .check_value img {
        width: 20px;
        display: none; }
      #nav_scope .wrap_input_item .check_value p {
        font-size: 12px;
        display: none; }
  #nav_scope .show_signup_info {
    font-size: 14px;
    color: #dfdfdf; }
  #nav_scope .signup_display {
    display: none; }
  #nav_scope .input_bar {
    margin-bottom: 15px; }
  #nav_scope #translate_view {
    position: absolute;
    top: -50px; }
  #nav_scope .signup_box > form > .input_bar:nth-child(5) {
    margin: 0; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .dm-1 {
    width: 8.33333%; }
  .dm-2 {
    width: 16.66667%; }
  .dm-3 {
    width: 25%; }
  .dm-4 {
    width: 33.33333%; }
  .dm-5 {
    width: 41.66667%; }
  .dm-6 {
    width: 50%; }
  .dm-7 {
    width: 58.33333%; }
  .dm-8 {
    width: 66.66667%; }
  .dm-9 {
    width: 75%; }
  .dm-10 {
    width: 83.33333%; }
  .dm-11 {
    width: 91.66667%; }
  .dm-12 {
    width: 100%; }
  .dm-1, .dm-2, .dm-3, .dm-4, .dm-5, .dm-6, .dm-7, .dm-8, .dm-9, .dm-10, .dm-11, .dm-12 {
    float: left; }
  .web_display {
    display: none; }
  .mobile_display {
    display: block; }
  html {
    position: relative; }
    html body {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      position: relative;
      background-color: #111;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden; }
  .wrap_header_nav {
    width: 100%;
    /*height: 50px;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    /*background: linear-gradient(to bottom, rgba(25,25,25,0.65) 30%,rgba(0,0,0,0) 100%);*/
    font-size: 0; }
  .main_header_content {
    /*position: relative;*/
    box-sizing: border-box;
    padding: 10px 20px; }
  .main_content_camera {
    width: 100%;
    /*height: 100%;*/
    height: auto;
    perspective-origin: center center;
    perspective: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20; }
    .main_content_camera .main_content_space {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0; }
      .main_content_camera .main_content_space .main_content {
        font-size: 16px;
        color: #aaa;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        transform: translateX(0px) translateY(0px) rotateY(0deg);
        top: 10vh;
        background-color: rgba(100, 100, 100, 0.5);
        transition: 1s;
        box-shadow: 0px 0px 10px #aaa;
        border-radius: 5px 0 0 5px;
        position: relative;
        /* 隱藏卷軸 */
        overflow-x: hidden;
        overflow-y: hidden;
        /* 隱藏卷軸 */
        top: 0;
        left: 0; }
  #translate_view:checked ~ .main_content_camera > .main_content_space > .main_content {
    transform: translateX(200px) translateY(75px) rotateY(-60deg);
    height: 80vh;
    overflow: hidden; }
  #translate_view:checked + div > .header_content {
    z-index: 30; }
  #translate_view:checked + div > .header_content .hbg_2 {
    transform: rotate(45deg); }
  #translate_view:checked + div > .header_content .hbg_2_1 {
    transform: rotate(-45deg); }
  #translate_view:checked + div > .header_content .hbg_1,
  #translate_view:checked + div > .header_content .hbg_3 {
    opacity: 0; }
  #translate_view:checked + div > .header_content > nav {
    left: 0px; }
  .wrap_hbg_d {
    position: relative; }
  /*----------header----------*/
  .header_content > div {
    flex: 1; }
  .header_content > label,
  .header_content > div:last-child {
    flex: 1; }
  .header_content {
    color: #111;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 30; }
  .wrap_hbg::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .wrap_hbg > div {
    display: inline-block;
    vertical-align: middle; }
  .header_content label {
    font-size: 0; }
  .wrap_hbg_d .hbg {
    margin: 5px;
    border-radius: 1.5px;
    transition: 1s; }
  .wrap_hbg_d .hbg_1,
  .wrap_hbg_d .hbg_2 {
    width: 25px;
    height: 3px;
    background-color: #dfdfdf; }
  .wrap_hbg_d .hbg_2_1 {
    width: 25px;
    height: 3px;
    background-color: #dfdfdf;
    position: absolute;
    top: 8px;
    left: 0px; }
  .wrap_hbg_d .hbg_3 {
    width: 20px;
    height: 3px;
    background-color: #dfdfdf; }
  .logo {
    text-align: center; }
    .logo img {
      width: 50px;
      vertical-align: bottom; }
  .wrap_mobile_bell {
    text-align: right;
    font-size: 0; }
    .wrap_mobile_bell .mobile_bell {
      width: 30px;
      position: relative;
      display: inline-block;
      cursor: pointer; }
      .wrap_mobile_bell .mobile_bell img {
        width: 100%; }
      .wrap_mobile_bell .mobile_bell .showinfo {
        width: 12px;
        height: 15px;
        background-color: #fa0006;
        border-radius: 2px;
        position: absolute;
        top: 15px;
        right: 0;
        text-align: center; }
        .wrap_mobile_bell .mobile_bell .showinfo span {
          font-size: 12px;
          color: #dfdfdf;
          line-height: 15px; }
  /*----------nav----------*/
  nav {
    position: absolute;
    top: 59px;
    left: -280px;
    width: 250px;
    transition: 1s; }
    nav .nav_list > li {
      box-sizing: border-box;
      padding: 20px 0; }
      nav .nav_list > li a {
        font-size: 18px;
        color: #dfdfdf;
        letter-spacing: 1.5px;
        position: relative; }
    nav .nav_list > li:last-child {
      padding-top: 50px; }
      nav .nav_list > li:last-child a {
        font-size: 14px; }
        nav .nav_list > li:last-child a::before {
          content: '';
          width: 200px;
          height: 1px;
          display: block;
          background-color: #dfdfdf;
          position: absolute;
          left: 0;
          top: -30px; }
  .nav_list > li > a:hover {
    text-shadow: 1px 1px 2px #dfdfdf; }
  .mem_info {
    font-size: 0; }
    .mem_info > div {
      display: inline-block;
      vertical-align: middle; }
    .mem_info .mem_img {
      width: 50px;
      margin-right: 10px; }
      .mem_info .mem_img img {
        width: 100%;
        border-radius: 60px;
        cursor: pointer; }
  .mem_name_center > p:last-child {
    cursor: pointer; }
  .mem_name {
    font-size: 14px;
    color: #dfdfdf;
    padding: 5px; }
  .mem_center {
    font-size: 14px;
    color: #dfdfdf;
    padding: 5px; } }

@media screen and (min-width: 768px) {
  .dl-1 {
    width: 8.33333%; }
  .dl-2 {
    width: 16.66667%; }
  .dl-3 {
    width: 25%; }
  .dl-4 {
    width: 33.33333%; }
  .dl-5 {
    width: 41.66667%; }
  .dl-6 {
    width: 50%; }
  .dl-7 {
    width: 58.33333%; }
  .dl-8 {
    width: 66.66667%; }
  .dl-9 {
    width: 75%; }
  .dl-10 {
    width: 83.33333%; }
  .dl-11 {
    width: 91.66667%; }
  .dl-12 {
    width: 100%; }
  .dl-1, .dl-2, .dl-3, .dl-4, .dl-5, .dl-6, .dl-7, .dl-8, .dl-9, .dl-10, .dl-11, .dl-12 {
    float: left; }
  .web_display {
    display: block; }
  .mobile_display {
    display: none; }
  .link_style {
    position: relative; }
  .link_style a::before {
    content: '';
    height: 1px;
    width: 2px;
    background: #ff3d4b;
    display: block;
    position: absolute;
    top: -5px;
    left: 20px;
    opacity: 0;
    transform-origin: top right;
    transform: rotate(-45deg) scaleY(1); }
  .link_style a::after {
    content: '';
    height: 1px;
    width: 2px;
    background: #ff3d4b;
    display: block;
    position: absolute;
    top: -10px;
    left: 70px;
    opacity: 0;
    transform-origin: top right;
    transform: rotate(-45deg) scaleY(1); }
  .link_style:hover a::before {
    animation: link_hover_one 1s; }
  .link_style:hover a::after {
    animation: link_hover_two 1s; }
  @keyframes link_hover_one {
    20% {
      transform: rotate(-45deg) scaleY(1);
      opacity: 0; }
    50% {
      transform: rotate(-45deg) scaleX();
      opacity: 1; }
    100% {
      transform: rotate(-45deg) scaleX(15);
      opacity: 0; } }
  @keyframes link_hover_two {
    0% {
      transform: rotate(-45deg) scaleY(1);
      opacity: 0; }
    50% {
      transform: rotate(-45deg) scaleX();
      opacity: 1; }
    100% {
      transform: rotate(-45deg) scaleX(15);
      opacity: 0; } }
  .main_content {
    background-color: #ccc;
    height: 100%; }
  .header_content {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 10px 60px; }
  .logo, nav {
    display: inline-block;
    vertical-align: middle; }
  .logo {
    width: 15%; }
    .logo a {
      display: inline-block;
      width: 75px; }
      .logo a img {
        width: 100%; }
  nav {
    width: 85%; }
  .nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .nav_list > li {
      display: inline-block;
      margin: 0 0 0 30px; }
      .nav_list > li a {
        letter-spacing: 1.5px;
        color: #dfdfdf; }
    .nav_list > li:first-child {
      order: 4;
      margin: 0 0 0 50px; }
    .nav_list > li:last-child {
      display: none; }
  .when_logout {
    position: relative; }
    .when_logout::before {
      content: '';
      width: 1px;
      height: 16px;
      background-color: #dfdfdf;
      display: block;
      position: absolute;
      left: -23px;
      top: 3px; }
  .web_bell {
    width: 30px;
    position: relative;
    margin-right: 10px; }
    .web_bell img {
      width: 100%; }
    .web_bell .showinfo {
      width: 12px;
      height: 15px;
      background-color: #fa0006;
      border-radius: 2px;
      position: absolute;
      top: 15px;
      right: 0;
      text-align: center; }
      .web_bell .showinfo span {
        font-size: 12px;
        color: #dfdfdf;
        line-height: 15px; }
    .web_bell::before {
      content: '';
      width: 1px;
      height: 16px;
      background-color: #dfdfdf;
      display: block;
      position: absolute;
      left: -20px;
      top: 6px; }
  .mem_img img {
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf; }
  .mem_info {
    font-size: 0; }
    .mem_info .web_bell {
      display: inline-block;
      vertical-align: middle; }
    .mem_info .mem_img {
      display: inline-block;
      vertical-align: middle; }
  .nav_list > li > a {
    color: #fff;
    font-size: 16px; }
  .mem_info {
    padding: 0; }
  .mem_img {
    width: 30px; }
  /*頭像選單*/
  .member_list {
    display: none;
    background-color: rgba(28, 32, 77, 0.7);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 68px;
    right: 28px;
    text-align: center; }
    .member_list .mem_name {
      color: #dfdfdf;
      font-weight: 700;
      font-size: 14px; }
    .member_list li:last-child {
      display: block;
      font-size: 16px;
      color: #dfdfdf;
      cursor: pointer; }
    .member_list li:nth-child(2) {
      margin: 10px 0; }
    .member_list li {
      display: block;
      margin: 0; }
      .member_list li a {
        font-size: 16px;
        display: block; }
  .member_list a {
    color: #dfdfdf; }
  .member_list::after {
    content: '';
    border-bottom: 10px solid rgba(28, 32, 77, 0.7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 43px; }
  .showinfo {
    top: 19px;
    right: 6px; }
  .show_info_detail {
    right: 100px;
    top: 68px; } }
