

/*-------------------------------------*/
/*-------------------------------------*/
/*nav----------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/

/*----------畫面移動設定----------*/

html {
	position: relative;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url('../img/album_surfing/nav_bgc.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.wrap_header_nav {
	width: 100%;
	/*height: 50px;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	/*background: linear-gradient(to bottom, rgba(25,25,25,0.65) 30%,rgba(0,0,0,0) 100%);*/
	font-size: 0;

}

.main_header_content {
	/*position: relative;*/
	box-sizing: border-box;
	padding: 10px 20px;
}

.main_content_camera {
	width: 100%;
	/*height: 100%;*/
	height: auto;
	perspective-origin:center center;
	perspective: 600px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
}

.main_content_space{
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.main_content {
	font-size: 16px;
	color: #aaa;
	width: 100%;
	height: 100vh;
	overflow: scroll;
	transform:translateX(0px) translateY(0px) rotateY(0deg);
	top: 10vh;
	transition: 1s;
	box-shadow: 0px 0px 10px #aaa;
	border-radius: 5px 0 0 5px;
	position: relative;
	/* 隱藏卷軸 */
	overflow-x: hidden;
	/* overflow-y: hidden; */
	/* 隱藏卷軸 */
	top: 0;
	left: 0;

}



#translate_view {
	position: absolute;
	top: -50px;
}

#translate_view:checked ~ .main_content_camera > .main_content_space > .main_content {
	transform:translateX(200px) translateY(75px) rotateY(-60deg);
    height: 80vh;
    overflow: hidden;
}

#translate_view:checked + div > .header_content {
	z-index: 30;
}

#translate_view:checked + div > .header_content .hbg_2 {
	transform: rotate( 45deg );
}

#translate_view:checked + div > .header_content .hbg_2_1 {
	transform: rotate( -45deg );
}

#translate_view:checked + div > .header_content .hbg_1,
#translate_view:checked + div > .header_content .hbg_3 {
	opacity: 0;
}

#translate_view:checked + div > .header_content > nav {
	left: 0px;
}

.wrap_hbg_d {
	position: relative;
}






/*----------header----------*/
.header_content > div {
	flex: 1;
}

.header_content > label,
.header_content > div:last-child {
	flex: 1;
}

.header_content {
	color: #111;
	font-size: 16px;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 30;
	
}

.wrap_hbg::before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.wrap_hbg > div {
	display: inline-block;
	vertical-align: middle;
}

.header_content label {
	font-size: 0;
}

.hbg {
	margin: 5px;
	border-radius: 1.5px;
}

.hbg_1,
.hbg_2,
.hbg_2_1 {
	width: 25px;
	height: 3px;
	background-color: #ddd;
}

.hbg_2_1 {
	position: absolute;
	top: 8px;
	left: 0px;
}

.hbg_3 {
	width: 20px;
	height: 3px;
	background-color: #ddd;
}

.wrap_hbg_d > div{
	transition: 1s;
}

.logo {
	text-align: center;
}

.logo img{
	width: 50px;
	vertical-align: bottom;
}


.larger {
	text-align: right;
	font-size: 0;
}


.larger img:first-child {
	width: 40px;
}

.larger img:last-child {
	width: 30px;
}

/*----------nav----------*/

nav {
	position: absolute;
	top: 59px;
	left: -280px;
	width: 250px;
	transition: 1s;
}

.nav_list > li {
	box-sizing: border-box;
	padding: 20px 0;
}

.nav_list > li:last-child {
	padding-top: 50px;
}

.mem_info {
	font-size: 0;
}

.mem_info > div {
	display: inline-block;
	vertical-align: middle;
}

.mem_img {
	width: 50px;
	margin-right: 10px;
}

.mem_img img{
	width: 100%;
	border-radius: 60px;
	cursor: pointer;
}

.mem_name_center > p:last-child {
	cursor: pointer;
}

.mem_name {
	font-size: 18px;
	color: #fff;
	padding: 5px;
	
}

.mem_center {
	font-size: 14px;
	color: #fff;
	padding: 5px;
}


.nav_list > li > a {
	font-size: 18px;
	color: #fff;
	letter-spacing: 1.5px;
	position: relative;
}

.nav_list > li:last-child > a {
	font-size: 14px;
}

.nav_list > li:last-child > a::before {
	content: '';
	width: 200px;
	height: 1px;
	display: block;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: -30px;
}

.nav_list > li > a:hover {
	text-shadow: 1px 1px 2px #ffffff;
}




/*----------通知鈴鐺----------*/

.bell {
	width: 30px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.bell img{
	width: 100%;
}

.web_bell {
	padding: 0;
	width: 0;
}

.showinfo {
	width: 13px;
	height: 16px;
	text-align: center;
	border-radius: 3px;
	background-color: #ff516a;
	position: absolute;
	right: 1px;
	top: 12px;
}

.showinfo span {
	font-size: 12px;
	color: #44227a;
	line-height: 16px;
	font-weight: 700;
}

/* show info detail*/

.show_info_detail {
	display: none;
	width: 250px;
	background-color: rgba(28,32,77, 0.7);
	position: absolute;
	right: 10px;
	top: 50px;
	border-radius: 5px;
	z-index: 35;
}

.info_detail_list {
	box-sizing: border-box;
	padding: 15px;
}

.info_detail_list > li {

	text-align: left;
	box-sizing: border-box;
	padding: 5px;
	cursor: pointer;
}

.info_detail_list > li > p:hover {
	color: #ff5e6a;
}

.info_detail_list > li:last-child {
	text-align: center;
}

.info_detail_list > li:last-child > a {
	display: inline-block;
	padding-top: 3px;
	font-size: 14px;
	color: #fff;
}

.info_detail_list > li + li {
	border-top: 1px solid #fff;
}

.info_detail_list > li > p {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

.info_detail_list > li > p:first-child {
	font-weight: 700;
	margin-bottom: 5px;
}

.info_detail_list > li > p,
.info_detail_list > li > span {
	color: #fff;
	font-size: 12px;
}

.show_info_detail::after {
		content: '';
		border-bottom: 10px solid rgba(28,32,77, 0.7);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		position: absolute;
		top: -10px;
		left: 195px; 
}

.for_position {
	display: inline-block;
	position: relative;
	width: 1px;
	height:10px;
	background-color: #f00;
}




@media screen and (min-width: 768px) {
	header, nav {
		position: static
	}

	.main_header_content {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 10px 30px;
	}

	.header_content {
		padding: 0;
		flex: 1;
	}

	.logo {
		text-align: left;
	}

	nav {
		position: static;
		flex: 9;
	}

	.nav_list {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		left: 0;
	}

	.nav_list > li {
		padding: 0 20px;
		vertical-align: middle;

	}

	.nav_list > li:nth-child(4) {
		padding-right: 25px;
		border-right: 1px solid #fff;
	}

	.nav_list > li:first-child {
		order: 4;
		padding: 0 0 0 25px;
	}

	.nav_list > li > a {
		display: inline-block;
	}



	.mem_info {
		padding: 0;
	}

	.mem_img {
		width: 30px;
	}

	.mem_name {
		font-size: 14px;
	}

		/*頭像選單*/

	.member_list {
		display: none;
		width: 115px;
		background-color: rgba(28,32,77, 0.7);
		border-radius: 5px;
		box-sizing: border-box;
		padding: 15px 10px;
		position: absolute;
		top: 50px;
		right: 0px;
	}

	.member_list > li > a {
		font-size: 16px;
	}

	.member_list a {
		color: #fff;
	}

	.member_list::after {
		content: '';
		border-bottom: 10px solid rgba(28,32,77, 0.7);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		position: absolute;
		top: -10px;
		left: 45px;
	}

	.member_list > li{
		text-align: center
	}

	.member_list > li:first-child {
		margin-bottom: 10px;
	}

	.web_bell {
		width: 40px;
	}

	.showinfo {
		top: 19px;
		right: 6px;
	}

	.show_info_detail {
		right: 100px;
		top: 50px;
	}

}


/*-------------------------------------*/
/*-------------------------------------*/
/*login_signup_box---------------------*/
/*-------------------------------------*/
/*-------------------------------------*/


.login_signup_sec {
	width: 300px;
	height: 380px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-image: linear-gradient(to bottom, #111 0%, #1c204d 20%);
	opacity: 0.9;
	border-radius: 5px;
	padding: 0;
	display: none;
	z-index: 50;
}

/*----------wrap login signup----------*/

img {
	vertical-align: bottom;
}



.wrap_logo_switch {
	font-size: 0;
	display: flex;
	box-sizing: border-box;
	padding: 30px 30px 0 30px;
}

.wrap_logo_switch > div {
	
}

.decorate_logo {
	flex: 4;
	box-sizing: border-box;
	/*padding: 10px;*/
}

.switch_display {
	flex: 6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.close_box {
	height: 30px;
	text-align: right;
	position: relative;
}

.close_box img {
	width: 20px;
	position: absolute;
	top: -20px;
	right: -20px;
	
}

.switch_light {
	width: 26px;
	height: 3px;
	border-radius: 3px;
	background-color: #ff5e6a;
	position: absolute;
	left: 38px;
	bottom: -7px;
	transition: 1s;
	box-shadow: 0px 0px 10px #ff5e6a;
}



.switch_selector {
	font-size: 0;
	text-align: right;
	position: relative;
}

.switch_selector > p {
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 16px;
	color: #fff;
}

.switch_selector p:hover {
	color: #ff5e6a;
	cursor: pointer;
}


/*----------member input----------*/

.member_signup_input {
	box-sizing: border-box;
	padding: 0 30px 30px 30px;
	margin-top: 60px;
}

.member_signup_input .input2 {
	width: 100%;
	padding-left: 0;
	color: #fff;
}

.show_account_info,
.show_account_info,
.forget_password {
	font-size: 14px;
	padding: 0 0 5px 0;
	color: #fff;
}

.show_account_info,
.show_account_info {
	opacity: 0;
}

.password_bar,
.error_forgot_submit {
	margin-top: 10px;
}

.forget_password {
	margin-top: 5px;
	display: block;
	font-size: 12px;
	cursor: pointer;
}

.error_forgot_submit_bar {
	position: relative;
	margin-top: 30px;
	/*text-align: center;*/
}

.show_error {
	font-size: 14px;
	font-weight: 700;
	color: #f00;
	/*密碼錯誤時出現*/
	visibility: hidden;

}

.login_submit_btn {
	width: 45px;
	height: 45px;
	/*display: inline-block;*/
	position: absolute;
	top: -3px;
	right: -40px;
}

.login_display {
	/*display: none;*/
}

/* 註冊 */

.show_signup_info {
	font-size: 14px;
	color: #fff;
}

.signup_display  {
	display: none;
}

.input_bar {
	margin-bottom: 15px ;
}

.larger.mobile_display img {
	display: inline-block;
}