@charset "UTF-8";
h1 {
  color: color("purple"); }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1; }

h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1; }

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h5 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

h6 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1; }

p {
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 22px; }

label {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1; }

body, button {
  font-family: '微軟正黑體','Noto Sans TC', sans-serif; }

section {
  width: 100%;
  padding: 50px 0; }

section > div {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

button, input[type=text], input[type=file], input[type=password], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #fff; }

input[type=text], input[type=file], input[type=password], textarea {
  border-radius: 3px; }

label {
  font-weight: 700; }

textarea {
  background-color: #d8e2e2;
  box-shadow: 0px 0px 5px #333 inset;
  border-radius: 3px; }

input[type=text], input[type=password] {
  border: 0px transparent;
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px; }

.img_d img {
  width: 100%; }

.box_inner_padding {
  box-sizing: border-box;
  padding: 15px; }

.set_w1200px {
  width: 1200px;
  margin: 0 auto; }

/*---不分尺寸---*/
/* show info detail*/
.show_info_detail {
  display: none;
  width: 250px;
  background-color: rgba(28, 32, 77, 0.7);
  position: absolute;
  right: 0px;
  top: 50px;
  border-radius: 5px;
  z-index: 35; }

.info_detail_list {
  box-sizing: border-box;
  padding: 15px; }

.info_detail_list > li {
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer; }

.info_detail_list > li > p:hover {
  color: #ff5e6a; }

.info_detail_list > li:last-child {
  text-align: center; }

.info_detail_list > li:last-child > a {
  display: inline-block;
  padding-top: 3px;
  font-size: 14px;
  color: #fff; }

.info_detail_list > li + li {
  border-top: 1px solid #fff; }

.info_detail_list > li > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.info_detail_list > li > p:first-child {
  font-weight: 700;
  margin-bottom: 5px; }

.info_detail_list > li > p,
.info_detail_list > li > span {
  color: #fff;
  font-size: 12px; }

.show_info_detail::after {
  content: '';
  border-bottom: 10px solid rgba(28, 32, 77, 0.7);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 225px; }

/*-------------------------------------*/
/*-------------------------------------*/
/*login_signup_box---------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
.login_signup_sec {
  width: 300px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-image: linear-gradient(to bottom, #111 0%, #1c204d 20%);
  opacity: 0.9;
  border-radius: 5px;
  padding: 0;
  z-index: 50; }

/*----------wrap login signup----------*/
img {
  vertical-align: bottom; }

.wrap_logo_switch {
  font-size: 0;
  display: flex;
  box-sizing: border-box;
  padding: 30px 30px 0 30px; }

.decorate_logo {
  flex: 4;
  box-sizing: border-box;
  /*padding: 10px;*/ }

.switch_display {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.close_box {
  height: 30px;
  text-align: right;
  position: relative; }

.close_box img {
  width: 20px;
  position: absolute;
  top: -20px;
  right: -20px; }

.switch_light {
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background-color: #ff5e6a;
  position: absolute;
  left: 29px;
  bottom: -7px;
  transition: 1s;
  box-shadow: 0px 0px 10px #ff5e6a; }

.switch_selector {
  font-size: 0;
  text-align: right;
  position: relative; }

.switch_selector > p {
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  color: #fff; }

.switch_selector p:hover {
  color: #ff5e6a;
  cursor: pointer; }

/*----------member input----------*/
.input1 {
  width: 100%; }

.member_signup_input {
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
  margin-top: 60px; }

.member_signup_input .input2 {
  width: 100%;
  padding-left: 0;
  color: #fff; }

.show_account_info,
.forget_password {
  font-size: 14px;
  padding: 0 0 5px 0;
  color: #fff; }

.show_account_info {
  opacity: 0; }

.password_bar,
.error_forgot_submit {
  margin-top: 10px; }

.forget_password {
  margin-top: 5px;
  display: block;
  font-size: 12px;
  cursor: pointer; }

.error_forgot_submit_bar {
  position: relative;
  margin-top: 30px;
  /*text-align: center;*/ }

.show_error {
  font-size: 14px;
  font-weight: 700;
  color: #f00;
  /*密碼錯誤時出現*/
  visibility: hidden; }

.login_submit_btn {
  width: 45px;
  height: 45px;
  /*display: inline-block;*/
  position: absolute;
  top: -3px;
  right: -40px; }

/* 註冊 */
.show_signup_info {
  font-size: 14px;
  color: #fff; }

.signup_display {
  display: none; }

.input_bar {
  margin-bottom: 15px; }

#translate_view {
  position: absolute;
  top: -50px; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .dm-1 {
    width: 8.33333%; }
  .dm-2 {
    width: 16.66667%; }
  .dm-3 {
    width: 25%; }
  .dm-4 {
    width: 33.33333%; }
  .dm-5 {
    width: 41.66667%; }
  .dm-6 {
    width: 50%; }
  .dm-7 {
    width: 58.33333%; }
  .dm-8 {
    width: 66.66667%; }
  .dm-9 {
    width: 75%; }
  .dm-10 {
    width: 83.33333%; }
  .dm-11 {
    width: 91.66667%; }
  .dm-12 {
    width: 100%; }
  .dm-1, .dm-2, .dm-3, .dm-4, .dm-5, .dm-6, .dm-7, .dm-8, .dm-9, .dm-10, .dm-11, .dm-12 {
    float: left; }
  .web_display {
    display: none; }
  .mobile_display {
    display: block; }
  html {
    position: relative; }
    html body {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      position: relative;
      background-image: url("../img/nav_bgc.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden; }
  .wrap_header_nav {
    width: 100%;
    /*height: 50px;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    /*background: linear-gradient(to bottom, rgba(25,25,25,0.65) 30%,rgba(0,0,0,0) 100%);*/
    font-size: 0; }
  .main_header_content {
    /*position: relative;*/
    box-sizing: border-box;
    padding: 10px 20px; }
  .main_content_camera {
    width: 100%;
    /*height: 100%;*/
    height: auto;
    perspective-origin: center center;
    perspective: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20; }
    .main_content_camera .main_content_space {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0; }
      .main_content_camera .main_content_space .main_content {
        font-size: 16px;
        color: #aaa;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        transform: translateX(0px) translateY(0px) rotateY(0deg);
        top: 10vh;
        background-color: rgba(100, 100, 100, 0.5);
        transition: 1s;
        box-shadow: 0px 0px 10px #aaa;
        border-radius: 5px 0 0 5px;
        position: relative;
        /* 隱藏卷軸 */
        overflow-x: hidden;
        overflow-y: hidden;
        /* 隱藏卷軸 */
        top: 0;
        left: 0; }
  #translate_view:checked ~ .main_content_camera > .main_content_space > .main_content {
    transform: translateX(200px) translateY(75px) rotateY(-60deg);
    height: 80vh;
    overflow: hidden; }
  #translate_view:checked + div > .header_content {
    z-index: 30; }
  #translate_view:checked + div > .header_content .hbg_2 {
    transform: rotate(45deg); }
  #translate_view:checked + div > .header_content .hbg_2_1 {
    transform: rotate(-45deg); }
  #translate_view:checked + div > .header_content .hbg_1,
  #translate_view:checked + div > .header_content .hbg_3 {
    opacity: 0; }
  #translate_view:checked + div > .header_content > nav {
    left: 0px; }
  .wrap_hbg_d {
    position: relative; }
  /*----------header----------*/
  .header_content > div {
    flex: 1; }
  .header_content > label,
  .header_content > div:last-child {
    flex: 1; }
  .header_content {
    color: #111;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 30; }
  .wrap_hbg::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .wrap_hbg > div {
    display: inline-block;
    vertical-align: middle; }
  .header_content label {
    font-size: 0; }
  .wrap_hbg_d .hbg {
    margin: 5px;
    border-radius: 1.5px;
    transition: 1s; }
  .wrap_hbg_d .hbg_1,
  .wrap_hbg_d .hbg_2 {
    width: 25px;
    height: 3px;
    background-color: #ddd; }
  .wrap_hbg_d .hbg_2_1 {
    width: 25px;
    height: 3px;
    background-color: #ddd;
    position: absolute;
    top: 8px;
    left: 0px; }
  .wrap_hbg_d .hbg_3 {
    width: 20px;
    height: 3px;
    background-color: #ddd; }
  .logo {
    text-align: center; }
    .logo img {
      width: 50px;
      vertical-align: bottom; }
  .wrap_mobile_bell {
    text-align: right;
    font-size: 0; }
    .wrap_mobile_bell .mobile_bell {
      width: 30px;
      position: relative;
      display: inline-block;
      cursor: pointer; }
      .wrap_mobile_bell .mobile_bell img {
        width: 100%; }
      .wrap_mobile_bell .mobile_bell .showinfo {
        width: 12px;
        height: 15px;
        background-color: #f00;
        border-radius: 2px;
        position: absolute;
        top: 15px;
        right: 0;
        text-align: center; }
        .wrap_mobile_bell .mobile_bell .showinfo span {
          font-size: 12px;
          color: #dfdfdf;
          line-height: 15px; }
  /*----------nav----------*/
  nav {
    position: absolute;
    top: 59px;
    left: -280px;
    width: 250px;
    transition: 1s; }
    nav .nav_list > li {
      box-sizing: border-box;
      padding: 20px 0; }
      nav .nav_list > li a {
        font-size: 18px;
        color: #fff;
        letter-spacing: 1.5px;
        position: relative; }
    nav .nav_list > li:last-child {
      padding-top: 50px; }
      nav .nav_list > li:last-child a {
        font-size: 14px; }
        nav .nav_list > li:last-child a::before {
          content: '';
          width: 200px;
          height: 1px;
          display: block;
          background-color: #fff;
          position: absolute;
          left: 0;
          top: -30px; }
  .nav_list > li > a:hover {
    text-shadow: 1px 1px 2px #ffffff; }
  .mem_info {
    font-size: 0; }
    .mem_info > div {
      display: inline-block;
      vertical-align: middle; }
    .mem_info .mem_img {
      width: 50px;
      margin-right: 10px; }
      .mem_info .mem_img img {
        width: 100%;
        border-radius: 60px;
        cursor: pointer; }
  .mem_name_center > p:last-child {
    cursor: pointer; }
  .mem_name {
    font-size: 18px;
    color: #fff;
    padding: 5px; }
  .mem_center {
    font-size: 14px;
    color: #fff;
    padding: 5px; } }

@media screen and (min-width: 768px) {
  .dl-1 {
    width: 8.33333%; }
  .dl-2 {
    width: 16.66667%; }
  .dl-3 {
    width: 25%; }
  .dl-4 {
    width: 33.33333%; }
  .dl-5 {
    width: 41.66667%; }
  .dl-6 {
    width: 50%; }
  .dl-7 {
    width: 58.33333%; }
  .dl-8 {
    width: 66.66667%; }
  .dl-9 {
    width: 75%; }
  .dl-10 {
    width: 83.33333%; }
  .dl-11 {
    width: 91.66667%; }
  .dl-12 {
    width: 100%; }
  .dl-1, .dl-2, .dl-3, .dl-4, .dl-5, .dl-6, .dl-7, .dl-8, .dl-9, .dl-10, .dl-11, .dl-12 {
    float: left; }
  .web_display {
    display: block; }
  .mobile_display {
    display: none; }
  .main_content {
    background-color: rgba(100, 100, 100, 0.5); }
  .header_content {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 10px 60px;
    background-color: rgba(100, 100, 100, 0.5); }
  .logo, nav {
    display: inline-block;
    vertical-align: middle; }
  .logo {
    width: 15%; }
    .logo a {
      display: inline-block;
      width: 75px; }
      .logo a img {
        width: 100%; }
  nav {
    width: 85%; }
  .nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .nav_list li {
      display: inline-block;
      margin: 0 0 0 20px; }
    .nav_list li:first-child {
      order: 4; }
    .nav_list li:last-child {
      display: none; }
  .web_bell {
    width: 30px;
    position: relative;
    margin-right: 10px; }
    .web_bell img {
      width: 100%; }
    .web_bell .showinfo {
      width: 12px;
      height: 15px;
      background-color: #f00;
      border-radius: 2px;
      position: absolute;
      top: 15px;
      right: 0;
      text-align: center; }
      .web_bell .showinfo span {
        font-size: 12px;
        color: #dfdfdf;
        line-height: 15px; }
  .mem_img img {
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid #fff; }
  .mem_info {
    font-size: 0; }
    .mem_info .web_bell {
      display: inline-block;
      vertical-align: middle; }
    .mem_info .mem_img {
      display: inline-block;
      vertical-align: middle; }
  .nav_list > li > a {
    color: #dfdfdf;
    font-size: 16px; }
  .mem_info {
    padding: 0; }
  .mem_img {
    width: 30px; }
  .mem_name {
    font-size: 14px; }
  /*頭像選單*/
  .member_list {
    display: none;
    background-color: rgba(28, 32, 77, 0.7);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 68px;
    right: 28px;
    text-align: center; }
    .member_list .mem_name {
      color: #fff;
      font-weight: 700; }
    .member_list li:last-child {
      display: block; }
    .member_list li:nth-child(2) {
      margin: 10px 0; }
    .member_list li {
      display: block;
      margin: 0; }
      .member_list li a {
        color: #dfdfdf;
        font-size: 16px;
        display: block; }
  .member_list a {
    color: #fff; }
  .member_list::after {
    content: '';
    border-bottom: 10px solid rgba(28, 32, 77, 0.7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 37px; }
  .showinfo {
    top: 19px;
    right: 6px; }
  .show_info_detail {
    right: 100px;
    top: 68px; } }

* {
  outline: 1px solid #f00; }
