@import "var";

// RESET COMBINE WITH PERSONAL STYLING SASS SHEET
// AUTHOR: HUANG MAO JING/TSAI YU JUI
// LAST UPDATE: 24th Oct. 2018


// -------------Var-------------

// Set tag which you would like to reset

$tags:(html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video);

$block-level:(article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav,section);

// Set each heading text
//seq:(tag name / font-size / letter spacing / line-height)

$mobile:(
	h1 40px 1px 1,
	h2 32px 1px 1,
	h3 28px 1px 1,
	h4 24px 1px 1,
	h5 22px 1px 1,
	h6 18px 1px 1,
	p  17px 1px 1.4,
	a  20px 1px 1
);

$medium:(
	h1 50px 1px 1,
	h2 36px 1px 1,
	h3 24px 1px 1,
	h4 20px 1px 1,
	h5 18px 1px 1,
	h6 18px 1px 1,
	p  18px 1.3px 1.4,
	a  20px 1px 1
);

// Width
$logo-width-mob: 100px;
$logo-width-pc: 120px;

// Color

$gallery_text_hover_color:#fc0;
$gallery_text_ori_color:#fff; // Including icon
$lightbox_text_hover_color:#0cf;
$lightbox_text_ori_color:#111; // Including icon


// Responsive settings

$breakpoint:(
	mobile 320px 767px 12 dm none block,
	medium 768px 1920px 12 dl block none,
	// desktop 1920px 12 dl
);
 
// -------------Reset-------------

// Reset the font-face

body{
    line-height:1;
};

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.clearfix:after{
    content:'';
    display:block;
	clear:both;
}

%reset {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

%display-block{display:block;}

@each $tag in $tags{#{$tag}{@extend %reset;}}

@each $tag in $block-level{#{$tag}{@extend %display-block;}}


// ------------- Mixin area -------------

// Set head (h1~h6)

@mixin head-setting($viewpoint){
	@if $viewpoint == 'mobile'{
		@each $header,$size,$letter-spacing,$line-height in $mobile{
			#{$header}{
				font-size:$size;
				letter-spacing:$letter-spacing;
                line-height:$line-height;
			}
		}
	}@else if $viewpoint == 'medium'{
		@each $header,$size,$letter-spacing,$line-height in $medium{
			#{$header}{
				font-size:$size;
				letter-spacing:$letter-spacing;
                line-height:$line-height;
			}
		}
	}
}
// Create grid system

@mixin create-grid-system($col,$device){
	@for $i from 1 through $col{
		.#{$device}-#{$i}{
			width:100% * $i / 12;
		};
    }
    .#{$device}-#{1},.#{$device}-#{2},.#{$device}-#{3},.#{$device}-#{4},.#{$device}-#{5},.#{$device}-#{6},.#{$device}-#{7},.#{$device}-#{8},.#{$device}-#{9},.#{$device}-#{10},.#{$device}-#{11},.#{$device}-#{12}{
        float:left;
    }
}
// Create responsive device setting

@mixin rwd($rwd){
	@each $viewpoint,$minW,$maxW,$col,$device,$class_web_display,$class_mob_display in $breakpoint{
		@if $rwd == $viewpoint{
			@media screen and (min-width:$minW) and (max-width:$maxW){
				@include create-grid-system($col,$device);
                @include head-setting($viewpoint);
                @include display_setting($class_web_display,$class_mob_display);
                @include extend_all_set;
				@content;
			}
		}
	}
}
// Vertical align (Default:middle)

@mixin vertical-align-middle($tmbd: middle){
    display: inline-block;
    vertical-align: $tmbd;
}

@mixin display_setting($class_web_display,$class_mob_display){
    .web_display{
        display: $class_web_display;
    }
    .mobile_display{
        display: $class_mob_display;
    }
}

@mixin extend_all_set(){
    .img_d img {
        width: 100%;
    }
    .box_inner_padding {
        box-sizing: border-box;
        padding: 15px;
    }
    .set_w1200px {
        width: 1200px;
        margin: 0 auto;
    }
    section > div {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto
    }
}


// @mixin extend_web_set(){


// }


// ------------ Page common styling ------------

// Common cross devices styling for all pages

@font-face{
    font-family: 'Noto Sans TC', sans-serif;
    src:url(http://fonts.googleapis.com/earlyaccess/notosanstc.css); 
}   

*{box-sizing: border-box;}

body,button {
    font-family: '微軟正黑體','Noto Sans TC', sans-serif;
}

section{
    width: 100%;
    padding:50px 0;
}
section > div{
    width:90%;
    margin:auto;
}

// button,input[type=text]{
//     -webkit-appearance: none;
//     box-shadow: none;
//     border:none;
//     background-color:#fff;
// }

select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

@include head-setting(medium);


//----------以下1024新增----------by tsai


//按鈕 button 共通格式

@mixin form_submit_btn() {
    font-size: 16px;
    border: 1px solid transparent;
    background: linear-gradient(67deg, #44227A 0%, #FF5E6A 81%); 
    color: $color7;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 3px;
}

@mixin form_submit_btn_hover() {
    border: 1px solid $color0;
    background: linear-gradient(0deg, transparent 0%,transparent 100%); 
    color: $color0;
}

.form_submit_btn {
    @include form_submit_btn();
    &:hover {
        @include form_submit_btn_hover();
    }
}

//input[text] 共通格式

@mixin input1_form{
    border: 0px transparent;
    display: inline-block;
    height: 25px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
}

.input1 {@include input1_form();}

@mixin input2_form{
    border: 0px solid transparent;
    display: inline-block;
    height: 25px;
    box-sizing: border-box;
    padding: 5px;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    outline: none;
    caret-color: #ffffff;
}

.input2 {@include input2_form();}

label {
    color: #fff
}

@mixin box_style() {
    width: 200px;
    height: 200px;
    background-color: $color3;
    border-radius: 3px;
    opacity: 0.5;
}


// ----------- Page styling start ------------

@include rwd(mobile){

}

@include rwd(medium){

}

