// RESET COMBINE WITH PERSONAL STYLING SASS SHEET
// AUTHOR: HUANG MAO JING
// LAST UPDATE: 1st Nov. 2018



// ------------- function improvement -------------

	// example:

	// h1{
	// 	color:color(light);
	// 	background-color: background(light);
	// 	@include vertical-align(top);
	// }

	// @include textarea();
	


// -------------Var-------------

// Set tag which you would like to reset

$tags:(html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video);

$block-level:(article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav,section);

// Set each heading text
//seq:(tag name / font-size / letter spacing / line-height)

$all:(
    h1 35px 1px 1,
    h2 24px 1px 1,
    h3 18px 1px 1,
    h4 18px 1px 1,
    h5 18px 1px 1,
    h6 18px 1px 1,
    p  16px 1.2px 22px,
    label 16px 1px 1  
);

// Color

$text-color:(
	light: #333,
	dark: #dfdfdf, 
);

$background-color:(
	light: #f0f5f5,
	dark: #111111,
);

// Responsive settings

$breakpoint:(
	mobile 320px 767px 12 dm,
	medium 768px 1920px 12 dl,
	// desktop 1920px 12 dl
);
 
// -------------Reset-------------

// Reset the font-face

body{line-height:1;};

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.clearfix:after{
    content:'';
    display:block;
	width:0;
	height:0;
	clear:both;
}

%reset {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

%display-block{display:block;}

@each $tag in $tags{#{$tag}{@extend %reset;}}

@each $tag in $block-level{#{$tag}{@extend %display-block;}}


// ------------- @mixin groups -------------

// Set head (h1~h6) - one for all devices (enabled)

@mixin head-setting(){
    @each $header,$size,$letter-spacing,$line-height in $all{
        #{$header}{
            font-size: $size;
            letter-spacing: $letter-spacing;
            line-height: $line-height;
        }
    }
}

// Create grid system

@mixin create-grid-system($col,$device){
	@for $i from 1 through $col{
		.#{$device}-#{$i}{
			width:100% * $i / 12;
		};
    }
    .#{$device}-#{1},.#{$device}-#{2},.#{$device}-#{3},.#{$device}-#{4},.#{$device}-#{5},.#{$device}-#{6},.#{$device}-#{7},.#{$device}-#{8},.#{$device}-#{9},.#{$device}-#{10},.#{$device}-#{11},.#{$device}-#{12}{
        float:left;
    }
}

// Create responsive device setting

@mixin rwd($rwd){
	@each $viewpoint,$minW,$maxW,$col,$device in $breakpoint{
		@if $rwd == $viewpoint{
			@media screen and (min-width:$minW) and (max-width:$maxW){
				@include create-grid-system($col,$device);
                // @include head-setting($viewpoint);
				@content;
			}
		}
	}
}

// Vertical align setting

@mixin vertical-align($align-mode){
    display: inline-block;
    vertical-align: $align-mode;
}

// textarea setting

@mixin textarea(){
	background-color: #d8e2e2;
	box-shadow: 0px 0px 5px #333 inset;
	border-radius: 3px;
}

// ------------- @function groups -------------

@function color($color-mode){
	@return map-get($text-color,$color-mode);
}

@function background($bgc-mode){
	@return map-get($background-color,$bgc-mode);
}

// ------------ Page styling ------------

// Common cross devices styling for all pages

*{box-sizing: border-box;}

@include head-setting();

section{
    width: 100%;
    padding:50px 0;
}
section > div{
    width:90%;
    max-width: 1200px;
    margin:auto;
}
button,input[type=text],input[type=file],textarea,select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border:none;
    background-color:#fff;
}
input[type=text],input[type=file],textarea{
    border-radius:3px;
}


@include rwd(mobile){

}

@include rwd(medium){

}




	
	











