
.form_submit_btn {
    font-size: 16px;
    border: 0px solid transparent;
    background: linear-gradient(67deg, #44227A 0%, #FF5E6A 81%);
    color: #ffffff;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 3px;
    outline: 0px;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    transition: 1s
}
.form_submit_btn:hover {
    background: linear-gradient(67deg, #FF5E6A 0%, #44227A 81%);
    animation: btn_change 0.2s
}


@keyframes btn_change {
    0% {
        background: linear-gradient(67deg, #44227A 10%, #FF5E6A 90%);
        }

    10% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 20%, #44227A 30%, #FF5E6A 90%);
    }

    20% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 30%, #44227A 40%, #FF5E6A 50%);
    }

    30% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 40%, #44227A 50%, #FF5E6A 60%);
    }

    40% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 50%, #44227A 60%, #FF5E6A 70%);
    }

    50% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 60%, #44227A 70%, #FF5E6A 80%);
    }

    60% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 70%, #44227A 80%, #FF5E6A 90%);
    }

    70% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 80%, #44227A 90%);
    }

    80% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 90%, #44227A 100%);
    }

    90% {
        background: linear-gradient(67deg,#FF5E6A 10%,#44227A 90%, #44227A 100%);
    }

    100% {
        background: linear-gradient(67deg, #FF5E6A 0%, #44227A 100%);
    }
}

